<li data-search="{{ content }} {{ comment }} {{ repo }}">
  {{# has-children }}
  <details {{# is-open }}open{{/ is-open }}>
    <summary>
      {{# has-icon }}
      <span class="icon-circle">
        <img class="devicon" src="../../assets/icons/{{ icon }}" alt="devicon">
      </span>
      {{/ has-icon }}

      {{# has-content }}
      {{# is-heading }}
      <h2 class="tree-content {{ class }}">{{ content }}</h2>
      {{/ is-heading }}
      {{^ is-heading }}
      <span class="tree-content {{ class }}">{{ content }}</span>
      {{/ is-heading }}
      {{/ has-content }}

      {{# has-comment }}
      <span class="tree-comment">{{{ comment }}}</span>
      {{/ has-comment }}

      {{# has-repo }}
      <span class="node-repo-groups">
        <a class="tree-content node-repo-link" href="https://github.com/Decipher3859/{{ repo }}" target="_blank" rel="noopener noreferrer">
          <img class="devicon" src="../../assets/icons/github-original.svg" alt="github-icon">Zum Quellcode
        </a>
      </span>
      {{/ has-repo }}
    </summary>

    {{# has-list-children }}
    <ul>
      {{# children }}
      {{> tree-node }}
      {{/ children }}
      {{# project-groups }}
      <li class="node-project-group">
        <button class="tree-content {{ class }} node-project-toggle" type="button" aria-expanded="true">{{ content }}</button>
        <ul class="node-project-list">
          {{# children }}
          {{> tree-node }}
          {{/ children }}
        </ul>
      </li>
      {{/ project-groups }}
    </ul>
    {{/ has-list-children }}
  </details>
  {{/ has-children }}

  {{^ has-children }}
    {{# has-icon }}
    <span class="icon-circle">
      <img class="devicon" src="../../assets/icons/{{ icon }}" alt="devicon">
    </span>
    {{/ has-icon }}

    {{# has-content }}
    {{# is-heading }}
    <h2 class="tree-content {{ class }}">{{ content }}</h2>
    {{/ is-heading }}
    {{^ is-heading }}
    <span class="tree-content {{ class }}">{{ content }}</span>
    {{/ is-heading }}
    {{/ has-content }}

    {{# has-comment }}
      <span class="tree-comment">{{{ comment }}}</span>
    {{/ has-comment }}

    {{# has-repo }}
    <span class="node-repo-groups">
      <a class="tree-content node-repo-link" href="https://github.com/Decipher3859/{{ repo }}" target="_blank" rel="noopener noreferrer">
        <img class="devicon" src="../../assets/icons/github-original.svg" alt="github-icon">Zum Quellcode
      </a>
    </span>
    {{/ has-repo }}
  {{/ has-children }}
</li>
