{{> header }}

<ul>
  <li>
    <span class="tree-node-1">Programmiersprachen</span>
  </li>
  <ul>
    <li><span class="tree-content">C++</span><span class="tree-comment">Entwicklung einer Wort-Uhr</span></li>
    <li><span class="tree-content">C#</span><span class="tree-comment">Desktop-Anwendungen mit
        Datenbank-Anbindung</span></li>
    <li><span class="tree-content">Dart/ Flutter</span><span class="tree-comment">Habit-Tracker für Android</span></li>
    <li><span class="tree-content">JavaScript</span><span class="tree-comment">Erweiterungen für Browser und
        WordPress</span></li>
    <li><span class="tree-content">Webentwicklung (HTML/CSS/JS)</span><span class="tree-comment">Web-Portfolio</span>
    </li>
  </ul>
  <li><span class="tree-node-1">

      Systemadministration</span></li>
  <ul>
    <li><span class="tree-content">Einrichtung von Netzwerk und Serveranwendungen für Therapiepraxen</span></li>
    <li><span class="tree-node-2 tree-content">Verwaltung eines Home-Servers</span></li>
    <ul>

      <li><span class="tree-content">Containerisierung mit Docker</span></li>
      <li><span class="tree-content">Spieleserver für Terraria, Minecraft und PalWorld</span></li>
    </ul>

  </ul>
  <li><span class="tree-node-1">Shell & Terminal</span></li>
  <ul>
    <li><span class="tree-content">Entwicklung eines Command-Line First Workflows mit Neovim</span></li>
    <li><span class="tree-content">Optimierung der Terminal-Umgebung durch Bash Run Commands</span></li>
  </ul>
  <li><span class="tree-node-1">Versionsverwaltung</span></li>
  <ul>
    <li></li>
  </ul>
</ul>

{{> footer }}
