{{> header }}

<ul>
  <li>
    <span class="tree-node-1">Programmiersprachen</span>
  </li>
  <ul>
    <li><span class="tree-node-2 tree-content">C++</span></li>
    <ul>
      <li><span class="tree-content">Entwicklung einer Wort-Uhr</span><a class="tree-comment">Link zum GitHub Repo</a>
      </li>
    </ul>
    <li><span class="tree-node-2 tree-content">C#</span></li>
    <ul>
      <li><span class="tree-content">Dokumentenverwaltung mit Datenbankarchitektur und grafischer
          Benutzeroberfläche</span><span class="tree-comment">Im Rahmen eines Betriebspraktikums</span></li>
    </ul>
    <li><span class="tree-node-2 tree-content">Dart/ Flutter</span></li>
    <ul>
      <li><span class="tree-content">Habit-Tracker für Android
        </span><a class="tree-comment">Link zum GitHub Repo</a></li>
    </ul>
    <li><span class="tree-node-2 tree-content">JavaScript</span></li>
    <ul>
      <li><span class="tree-content">Browsererweiterung für Bionic Reading Implementierung
        </span><a class="tree-comment">Link zum GitHub Repo</a></li>
      <li><span class="tree-content">WordPress-Plugin zum Erstellen von Fragebögen
        </span><a class="tree-comment">Link zum GitHub Repo</a></li>
    </ul>
    <li><span class="tree-node-2 tree-content">Webentwicklung</span><span class="tree-comment">HTML, CSS, JS</span></li>

    <ul>
      <li><span class="tree-content">Web-Portfolio mit Bootstrap und Mustache
        </span><a class="tree-comment">Link zum GitHub Repo</a></li>
    </ul>
  </ul>
  <li>
    <span class="tree-node-1">Administration</span>
  </li>
  <ul>

    <li><span class="tree-content">Einrichtung von Netzwerk und Serveranwendungen für Therapiepraxen</span></li>
    <li><span class="tree-node-2 tree-content">Betrieb eines Home-Servers</span></li>
    <ul>

      <li><span class="tree-node-3 tree-content">Docker-Containerisierung</span></li>
      <ul>
        <li><span class="tree-content">Jellyfin</span></li>
        <li><span class="tree-content">paperless NGX</span></li>
        <li><span class="tree-content">PiHole</span></li>

      </ul>
    </ul>
  </ul>

  <li>
    <span class="tree-node-1">Versionierung</span>
  </li>
  <ul>

  </ul>
</ul>

{{> footer }}
